<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        var app = angular.module('LoginApp', []);
        app.controller('FBcontroller',function ($scope,$http) {

            $scope.FbLogin = function () {
            FB.login(function(response){
                if(response.authResponse) (
                       FB.api('/me','GET',{fields:'email,first_name,name,id'},function(response){
                           sessionStorage.FBName=response.name.toString();
                           window.location.href = "HomePage.html";
                       })
                    )
            },
                {scope:'email',return_scope:true}
            )
            }
            $scope.AppLogin=function(){
                var status=CheckUser($scope);
                if(status=="valid"){
                    window.location.href="HomePage.html";
                }
                else if(status=="invalid"){
                    alert("Password is Incorrect");
                }
                else if(status=="nouser"){
                    alert('User is not registered');
                }
                else{
                    alert(status);
                }
            }
        });
        app.controller('Signupcontroller',function ($scope,$http){
            $scope.CreateUser=function() {
                var Name="";var username="";var password="";var confirmpassword="";
                 Name = $scope.txtName;
                 username = $scope.txtUsername;
                 password = $scope.txtPassword;
                 confirmpassword = $scope.txtConfirmpassword;
                var Errormessage="";
                Errormessage= ValidateUserDetails(Name, username, password, confirmpassword);
                if(Errormessage!=null && Errormessage!=""){
                    alert(Errormessage)
                    return;
                }
                else{
                    var array=[];
                    array=getUserDetails();
                    if(array.filter(user=>user.username==username).length>0)
                    {
                        alert('User already exists with the username. Please try signup with another username');
                    }
                    else
                    {
                        var details={
                            name:Name,
                            username:username,
                            password:password
                        };
                        array.push(details);
                        localStorage.setItem("UserDetails",JSON.stringify(array));
                        alert("user created");
                    }
                }
            }
        })
    </script>
    <style type="text/css">
        .borderless td, .borderless th {
            border: none !important;
            padding: 4px !important;
        }
        .borderless1 td, .borderless1 th {
            border: none !important;
        }
    </style>
</head>
<body ng-app="LoginApp" style="background-color: #53cfff">
<div class="container-fluid" style="height: 85px;background-color: whitesmoke">
    <div class="col-xs-6">
    <p style="color: #53cfff;font-size: 50px;font-weight:  600;font-family: forte;">Aprendices </p>
    </div>
    <div ng-controller="FBcontroller" class="col-xs-5">
        <table class="table text-centered borderless">
            <tr>
                <td style="font-size: 14px;color: #53cfff"><strong>Username</strong></td>
                <td style="font-size: 14px;color: #53cfff"><strong>Password</strong></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="form-control" style="color: whitesmoke;background-color: #53cfff" type="text" ng-model="txtUsername"></td>
                <td><input  class="form-control" style="color: whitesmoke;background-color: #53cfff" type="password" ng-model="txtPassword"></td>
                <td><button  class="form-control" style="color: white;background-color: #53cfff" ng-click="AppLogin()"><strong>Login</strong></button></td>
                <td><button data-toggle="tooltip" title="Login with Facebook" style="border: 0;background-color:  transparent;" ng-click="FbLogin()">
                    <i class="fa fa-facebook-square" style="font-size:35px;color:blue"></i>
                </button></td>
            </tr>
        </table>
    </div>
</div>
<div ng-controller="Signupcontroller" class="row" style="margin-top: 70px">
    <div class="container">
        <div class="pull-right">
            <table class="borderless1 table">
                <th class="text-center" colspan="2"><label style="font-size: 25px;color: cadetblue">Sign up</label></th>
                <tr>
                    <td><label style="font-size: 16px;color: cadetblue">Name</label></td>
                    <td><input ng-model="txtName" class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td><label style="font-size: 16px;color: cadetblue">Username/Email</label></td>
                    <td><input ng-model="txtUsername" class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td><label style="font-size: 16px;color: cadetblue">Password</label></td>
                    <td><input ng-model="txtPassword" class="form-control" type="password"></td>
                </tr>
                <tr>
                    <td><label style="font-size: 16px;color: cadetblue">Confirm Password</label></td>
                    <td><input ng-model="txtConfirmpassword" class="form-control" type="password"></td>
                </tr>
                <tr>
                    <td><button ng-click="CreateUser()" style="color: #53cfff;background-color:white;" class="form-control" class="btn" style="width: 100%">
                        <strong>Signup</strong>
                    </button></td>
                </tr>
            </table>

        </div>

    </div>
</div>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="Login.js"></script>
</body>
</html>