<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="speechtotext.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        footer {
            position: fixed;
            height: 80px;
            bottom: 0;
            width: 100%;
        }
        .borderless td, .borderless th {
            border: none !important;
            padding: 4px !important;
        }
        .borderless1 td, .borderless1 th {
            border: none !important;
        }
    </style>
    <script>
        var app = angular.module('HomeApp', []);
        app.controller('homeController',function ($scope,$http) {
            $scope.logout = function () {
                window.location.href = "LoginPage.html"
            }
            $scope.github=function(){
                window.location.href="https://github.com/BharathRao555/CS5551_team_6_1_12_17_LabAss";
            }
        });
    </script>
</head>
<body ng-app="HomeApp" ng-controller="homeController" style="background-color: #53cfff">
<div class="container-fluid" style="height: 85px;background-color: whitesmoke">
    <div class="col-xs-11">
        <p style="color: #53cfff;font-size: 50px;font-weight:  600;font-family: forte;">Aprendices </p>
    </div>
    <div class="col-xs-1 align-bottom">
        <button class="form-control align-bottom" style="color: white;background-color: #53cfff;margin-top: 30px" ng-click="logout()">Logout</button>
    </div>
</div>
<div class="container col-sm-12">
<table class="borderless table">
    <tr>
        <td>
            <pre>
            Name : Hiresh
            ClassID : 17
            hj7k6@mail.umkc.edu
                </pre>
        </td>
        <td>
            <pre>
            Name : Bharath
            ClassID : 12
            begb4@mail.umkc.edu
                </pre>
        </td>
    </tr>
</table>
    <div>
        <button class="form-control align-bottom" style="color: white;background-color: #53cfff" ng-click="github()"> GitHub</button>
    </div>
</div>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid footer-copyright text-center py-3">© 2018 Copyright:
        <a href="AboutPage.html"> About</a>
        <a href="ContactUs.html"> Contact Us</a>
    </div>
</footer>
</body>
</html>